* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: "Times New Roman";
}

.navbar {
  background: #49497e;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  z-index: 1;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.nav-link{
  margin: 0 30px;
}
.row{
  margin-top: 150px;
}

.container{
  width: 560px;
  height: 650px;
  margin: 8% auto;
  background: #fff;
  border: 5px solid #999;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
h3{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
  color: #49497e;
}
.line{
  width: 150px;
  height: 4px;
  background: #fc036b;
  border-color: #fc036b;
  margin: 10px auto;
  border-radius: 5px;
}
.container form{
  width: 460px;
  position: absolute;
  top: 100px;
  left: 50px;
  transition: 0.5s;
}
form input{
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
form textarea{
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
::placeholder{
  color: #777;
}
.btn-box{
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
form button{
  width: 130px;
  height: 50px;
  margin: 10px;
  background: #fc036b;
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}
#Form2{
  left: 560px;
}
#Form3{
  left: 560px;
}
.step-row{
  width: 501px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}
.step-col{
  font-size: 24px;
  width: 167px;
  text-align: center;
  color: #333;
  position: relative;
}
#progress{
  position: absolute;
  height: 100%;
  width: 166px;
  background: #fc036b;
  transition: 1s;
}
#progress::after{
  content: '';
  height: 0;
  width: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #fc036b;
}
.footer {
  width: 100%;
  min-height: 90px;
  padding: 20px 80px;
  margin-top: 10px;
  background: #484872;
  text-align: center;
}
.footer p {
  color: whitesmoke;
  margin: 10px auto;
  font-size: 20px;
}

.socialMedia{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  transition: 0.5s;
}

.sci{
  position: relative;
  display: flex;
}

.sci li{
  list-style: none;
}

.sci li a{
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  background:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#333;
  border-radius: 10px;
  text-decoration: none;
  margin:auto 20px;
  font-size: 2em;
  transform-style: preserve-3d;
  perspective:500px;
  box-shadow: 0 25px 35px rgba(0,0,0,0.1);
}

.sci li a:hover.facebook{
  background:#1877f2;
}
.sci li a:hover.twitter{
  background:#0099ff;
}
.sci li a:hover.youtube{
  background:#ff0000;
}
.sci li a:hover.instagram{
  background:#e4405f;
}

.sci li a .fa{
  transition: 0.25s;
  pointer-events: none;
}
.sci li a:hover .fa{
  color:#fff;
  transform: scale(1.5) translateZ(50px);
}

.js-tilt-glare{
  border-radius: 10px;
}

.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#49497e;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

.search {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  border-radius: 4rem;
  margin-left: 40px;
  padding: 10px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__input {
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 14px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}
.search__input:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--white-color) inset;
}
.search__button {
  width: 36px;
  height: 36px;
  background-color: #49497e;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__icon, .search__close {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__close {
  opacity: 0;
}

.show-search {
  width: 100%;
}
.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}
.show-search .search__button {
  transform: rotate(90deg);
}
.show-search .search__icon {
  opacity: 0;
}
.show-search .search__close {
  opacity: 1;
}